body {
  position: relative;
  font-family: 'Mali', cursive;
  background-image: linear-gradient(black, #000099, #66c2ff, #f7b9b9, #ffcccc);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

h1 {
  font-size: 40px;
  margin-bottom: 12px;

}

.title-game {
  text-align: center;
}

.title-game p {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 100px;
}

.playing {
  text-align: center;
}

.main-game {
  display: inline-block;
}

#first-input {
  background-color: transparent;
  width: 200px;
  color: white;
  box-shadow: 2px, 5px;
  border: 2px solid white;
  height: 46px;
  border-radius: 23px;
}

#first-input::placeholder {
  font-family: 'Mali', cursive;
  font-weight: 500;
  
}
